
body {
  margin: 4rem;
  background-color: #fff;
  
}

a{
  text-decoration:none;
  color: #39393C;
  font:400 18px/1.62 "Georgia","Xin Gothic","Hiragino Sans GB","Droid Sans Fallback","Microsoft YaHei",sans-serif;
}


img{
  width:860px;
}

tr{
  width:600px;
}
blockquote {
  margin: 30px 0 30px 4%;
  border-left: 3px solid #c6d5e1;
  padding: 5px 4%;
  font: italic 700 18px 'Domine', Serif;
  line-height: 38px
}

code{
  font-weight:bold;
}

p{
  font-size:16px;
}

h1{
  font-size:40px;
}
h2{
  font-size:34px;
}
h3{
  font-size:28px;
}
h4{
  font-size:24px;
}
h5{
  font-size:20px;
}
h6{
  font-size:18px;
}


#menu-inner{
  position: absolute;
  right:20%;
}
#menuLabel{
  position: relative;
  padding:10px;
  z-index:100;
}
#blogTitle{
  position: relative;
  left:30%;
  font-size:2rem;
}
.recent-post-item{
  position: relative;
  left:30%;
  margin:30px auto;

}
#paginator{
  position: relative;
  left:50%;

}

.page-number{
  margin:0 8px;

}

#page{
  position: relative;
  left:30%;
  width:50%;
}

#post{
  position: relative;
  left:25%;
  padding-top:5%;

}
#datetime{
  font-style: italic;
  font-size:0.8em;
  color:gray;
  padding:10px;
  font:400 18px/1.62 "Georgia","Xin Gothic","Hiragino Sans GB","Droid Sans Fallback","Microsoft YaHei",sans-serif;
}

.code{
  display: inline-block;
  background-size: cover;
  
  word-wrap:break-word;
  white-space: pre-wrap;
}

.prettyprint{
  width: 800px;
  font-size:15px;
  overflow: auto;
}


#content-inner{
  position: relative;
  font:400 18px/1.62 "Georgia","Xin Gothic","Hiragino Sans GB","Droid Sans Fallback","Microsoft YaHei",sans-serif;
  color: #39393C;
  width:860px;
  left:10%;
}

#postTitle{
  position: relative;
  left:20%;
  width:800px;
  overflow:auto;
}

#bottom-outer{
  position: absolute;
  bottom: 1rem;
  left:40%;
}

#footer {
  color: gray;
  font-size: 1em;
  text-align: center;
  margin-top: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-top: 1px solid rgba(0,0,0,0.1);
  font:400 18px/1.62 "Georgia","Xin Gothic","Hiragino Sans GB","Droid Sans Fallback","Microsoft YaHei",sans-serif;
}
