
if page.posts.length > 0
  #recent-posts
    a#blogTitle Meizj's Blog
    each post in page.posts.sort('date', -1).limit(10).toArray()
      .recent-post-item
        
        if post.date
          time#datetime(datetime=post.date.toJSON())= date(post.date, date_format)
        a(href=url_for(post.path))= post.title
